.button {
  background: $green;
  border: none;
  border-bottom: .6rem solid darken($green, 20%);
  color: $off-white;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $m-size;
  display: inline-block;
  padding: $l-size;
  width: 100%;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: $desktop-breakpoint) {
  .button {
    margin-bottom: $xl-size;
  }
}
